@model KoolitusedLastProject.Models.Koolitus

@{
    ViewBag.Title = "Kustuta";
}

<h2>Kustuta</h2>

<h3>Kas olete kindel, et soovite selle kustutada?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nimetus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Koolitusenimetus)
        </dd>

        <dt>
            Kirjeldus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Koolitusekirjeldus)
        </dd>

        <dt>
            Õpetaja ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpetajaId)
        </dd>

        <dt>
            Hind
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Koolitusehind)
        </dd>

        <dt>
            Maht
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Koolitusemaht)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Kustuta" class="btn btn-default" /> |
    @Html.ActionLink("Tagasi nimekirja", "Koolitused")
</div>
    }
</div>
