@model KoolitusedLastProject.Models.Koolitus

@{
    ViewBag.Title = "Muuda";
}

<h2>Muuda</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Koolitusenimetus, labelText: "Nimetus", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Koolitusenimetus, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Koolitusenimetus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Koolitusekirjeldus, labelText: "Kirjeldus", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Koolitusekirjeldus, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Koolitusekirjeldus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OpetajaId, "Õpetaja", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.OpetajaId, ViewBag.OpetajaList as SelectList, "Vali õpetaja", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OpetajaId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Koolitusemaht, labelText: "Maht", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Koolitusemaht, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Koolitusemaht, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvesta" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Tagasi nimekirja", "Koolitused")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
