@model IEnumerable<KoolitusedLastProject.Models.Koolitus>

@{
    ViewBag.Title = "Koolitused";
}

<h2>Koolitused</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Loo uus", "k_Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            Nimetus
        </th>
        <th>
            Kirjeldus
        </th>
        <th>
            Õpetaja
        </th>
        <th>
            Maht
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Koolitusenimetus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Koolitusekirjeldus)
            </td>
            <td>
                @(item.Opetaja.OpetajaEesnimi + " " + item.Opetaja.OpetajaPerenimi)
            </td>
            <td>
                @(item.Koolitusemaht + " tundi")
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Muuda", "k_Edit", new { id = item.Id }) |
                    @Html.ActionLink("Kustuta", "k_Delete", new { id = item.Id })
                </td>
            }
        </tr>
        }

</table>
