@model IEnumerable<KoolitusedLastProject.Models.Koolitus>

@{
    ViewBag.Title = "Koolitused";
}

<h2>Koolitused</h2>

<p>
    @Html.ActionLink("Loo uus", "k_Create")
</p>
<table class="table">
    <tr>
        <th>
            Nimetus
        </th>
        <th>
            Kirjeldus
        </th>
        <th>
            Õpetaja ID
        </th>
        <th>
            Hind
        </th>
        <th>
            Maht
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Koolitusenimetus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Koolitusekirjeldus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpetajaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Koolitusehind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Koolitusemaht)
        </td>
        <td>
            @Html.ActionLink("Muuda", "k_Edit", new { id=item.Id }) |
            @Html.ActionLink("Kustuta", "k_Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
