@model IEnumerable<KoolitusedLastProject.Models.Kursus>
@{
    ViewBag.Title = "Kursused";
}

<h2>Kursused</h2>


@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Loo uus", "ku_Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            Nimetus
        </th>
        <th>
            Kirjeldus
        </th>
        <th>
            Õpetaja
        </th>
        <th>
            Maht
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th></th>
        }
        </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kursusenimetus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kursusekirjeldus)
            </td>
            <td>
                @(item.Opetaja.OpetajaEesnimi + " " + item.Opetaja.OpetajaPerenimi)
            </td>
            <td>
                @(item.Kursusemaht + " tundi")
            </td>

            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Muuda", "ku_Edit", new { id = item.Id }) |
                    @Html.ActionLink("Kustuta", "ku_Delete", new { id = item.Id })
                </td>
            }
            </tr>
    }

</table>
