@model KoolitusedLastProject.Models.Laps

@{
    ViewBag.Title = "Kustuta";
}

<h2>Kustuta</h2>

<h3>Kas olete kindel, et soovite selle kustutada?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Eesnimi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LapseEesnimi)
        </dd>

        <dt>
            Perenimi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LapsePerenimi)
        </dd>

        <dt>
            Sünniaasta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sunniaasta)
        </dd>
        <dt>
            User
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            Kursus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kursus.Kursusenimetus)
        </dd>
        <dt>
            Kursuse hinne
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KursusHind)
        </dd>
        <dt>
            Koolitus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Koolitus.Koolitusenimetus)
        </dd>
        <dt>
            Koolituse hinne
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KoolitusHind)
        </dd>
        <dt>
            Seminari
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seminar.Seminarinimetus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta" class="btn btn-default" /> |
            @Html.ActionLink("Tagasi nimekirja", "Lapsed")
        </div>
    }
</div>
