@model IEnumerable<KoolitusedLastProject.Models.Laps>

@{
    ViewBag.Title = "Lapsed";
}

<h2>Lapsed</h2>

<p>
    @Html.ActionLink("Loo uus", "l_Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LapseEesnimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LapsePerenimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sunniaasta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LapseEesnimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LapsePerenimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sunniaasta)
        </td>
        <td>
            @Html.ActionLink("Muuda", "l_Edit", new { id=item.Id }) |
            @Html.ActionLink("Kustuta", "l_Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
