@model KoolitusedLastProject.Models.Opetaja

@{
    ViewBag.Title = "Kustuta";
}

<h2>Kustuta</h2>

<h3>Kas olete kindel, et soovite selle kustutada?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Eesnimi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpetajaEesnimi)
        </dd>

        <dt>
           Perenimi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpetajaPerenimi)
        </dd>

        <dt>
            Telefon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta" class="btn btn-default" /> |
            @Html.ActionLink("Tagasi nimekirja", "Opetajad")
        </div>
    }
</div>
