@model IEnumerable<KoolitusedLastProject.Models.Opetaja>

@{
    ViewBag.Title = "Opetajad";
}

<h2>Õpetajad</h2>

<p>
    @Html.ActionLink("Loo uus", "o_Create")
</p>
<table class="table">
    <tr>
        <th>
            Eesnimi
        </th>
        <th>
            Perenimi
        </th>
        <th>
            Telefon
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OpetajaEesnimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpetajaPerenimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.ActionLink("Muuda", "o_Edit", new { id=item.Id }) |
            @Html.ActionLink("Kustuta", "o_Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
