@model IEnumerable<KoolitusedLastProject.Models.Seminar>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Seminarid</title>
</head>
<body>
    <h2>Seminarid</h2>

    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Loo uus", "su_Create")
        </p>
    }
    <table class="table">
        <tr>
            <th>
                Nimetus
            </th>
            <th>
                Kirjeldus
            </th>
            <th>
                Õpetaja
            </th>
            <th>
                Ürituse päev
            </th>
            <th>
                Koht/link
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th></th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Seminarinimetus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seminarikirjeldus)
                </td>
                <td>
                    @(item.Opetaja.OpetajaEesnimi + " " + item.Opetaja.OpetajaPerenimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uritusepaev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Koht)
                </td>

                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Muuda", "su_Edit", new { id = item.Id }) |
                        @Html.ActionLink("Kustuta", "su_Delete", new { id = item.Id })
                    </td>
                }
            </tr>
        }

    </table>
</body>
</html>
