@model KoolitusedLastProject.Models.Seminar


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kustuta</title>
</head>
<body>
    <h3>Kas olete kindel, et soovite selle kustutada?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Nimetus
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Seminarinimetus)
            </dd>

            <dt>
                Kirjeldus
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Seminarikirjeldus)
            </dd>

            <dt>
                Õpetaja
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Opetaja.OpetajaEesnimi)
                @Html.DisplayFor(model => model.Opetaja.OpetajaPerenimi)
            </dd>

            <dt>
                Ürituse päev
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Uritusepaev)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.Koht)
            </dd>

        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Kustuta" class="btn btn-default" /> |
                @Html.ActionLink("Tagasi nimekirja", "Seminarid")
            </div>
        }
    </div>
</body>
</html>
